<%- include('shopcart-head') %>
<%- include('shopcart-navbar') %>
<!-- 購物流程部分 -->
      <div class="container">
        <ul class="list-unstyled router-mao d-flex justify-content-center">
          <li>
            <div class="rounded-circle d-flex justify-content-center align-items-center active">1</div>
            <span>確認購買清單</span>
          </li>
          <li>
            <div class="rounded-circle d-flex justify-content-center align-items-center activeoff">2</div>
            <span>選擇付款方式</span>
          </li>
          <li>
            <div class="rounded-circle d-flex justify-content-center align-items-center activeoff">3</div>
            <span>填寫運送資料</span>
          </li>
          <li>
            <div class="rounded-circle d-flex justify-content-center align-items-center activeoff">4</div>
            <span>結帳完成</span>
          </li>
        </ul>
      
      <!-- 表格部分 -->
      <main class="d-flex">
        <div class="shopcart-items-mao">
          <ul class="list-unstyled">
            <li>
              <table class="shopcart-items-list-mao">
                  <tr>
                    <td rowspan="2" class="shopcart-img-mao">
                      <img src="../img/appleWatchNike.png">
                    </td>
                    <td><h3 class="mx-2">Apple Watch Nike</h3></td>
                    <td class="font-weight-bold shopcart-items-sCount-mao">$<span>6400</span></td>
                    <td rowspan="2" class="d-flex align-items-end justify-content-center h-100">
                      <div class="border px-2 text-center my-2 w-75">
                        <span class="px-3">移除</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="d-flex mx-2">
                      <p class="m-0">單價$6,400</p>
                      <input type="" value="1" class="mx-3">
                    </td>
                    <td></td>
                    <td  class="d-flex align-items-start justify-content-center h-100">
                      <div class="border px-2 text-center my-2 w-75">
                        <span class="px-3">下次購買</span>
                      </div>
                    </td>
                  </tr>
              </table>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="shopcart-total-mao"></div>
      </main>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>