<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto&display=swap" rel="stylesheet">
    <style>
        body{
            height:300vh;
            font-family: 'Roboto';
            font-family: 'Noto Sans TC'
        }
        .navbar{
            height:138px
        }
      .container {
        max-width: 1300px;
        margin-top: 180px;
      }
      .router-mao {
        padding:20px;
        border-bottom: 3px solid #0DD2C5;
      }
      .router-mao div{
        width:30px;
        height:30px;
        margin-right:15px;
      }
      .router-mao li{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin:0px 45px;
      }
      .active {
        background:#0DD2C5;
        color:#000;
      }
      .activeoff{
        background:#000;
        color:#fff;
      }
      .shopcart-items-mao{
          width:900px;
          height:1020px;
          background: #fff;
      }
      .shopcart-total-mao{
          width:354px;
          height: 650px;
          background: #fff;
          margin-left:26px;
          font-size: 18px;
      }
      .shopcart-total-mao input{
          font-size:16px ;
          border:none;
          border-bottom: 1px solid #aaa;
          outline: none;
      }
      .shopcart-items-list-mao{
          margin:0 auto;
          width:850px;
          height: 150px;
          border-bottom: 1px solid #aaa;
      }
      .shopcart-items-sCount-mao{
          font-size: 22px;
      }
      .shopcart-img-mao{
          width:180px;
          height: 180px;
      }
      .shopcart-img-mao img{
        width: 70%;
        height: 70%;
      }
      .shopcart-items-btn-mao{
        width:75%;
      }
      .totalNum-mao{
        font-size: 22px;
      }
      .btn{
        border-radius: 0;
      }
    </style>
  </head>
  <body class="bg-light">